* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background:transparent;
    font-family: 'Poppins', sans-serif;

}

body {
    /* background:rgb(184, 216, 155); */
    background: #8faed6;
    color: rgb(52, 52, 52);
    /* background: rgb(230, 165, 230); */
    overflow: hidden;
    overflow-y: scroll;
}


::-webkit-scrollbar {
    width: 10px;
}
  

::-webkit-scrollbar-track {
    background: #f1f1f100; 
}
   

::-webkit-scrollbar-thumb {
    background: yellow; 
    border-radius: 10rem;
}
  

::-webkit-scrollbar-thumb:hover {
    background: rgb(245, 245, 140); 
    border-radius: 10rem;
}